<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom</title>
</head>
<body>
    <div>
        <form action="{{ url_for('predict')}}" method="post">
            <label for="data1">Cap-shape</label>
                <select name="Cap-shape" id="data1">
                    <!-- bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s -->
                    <option value="b">Bell</option>
                    <option value="c">Conical</option>
                    <option value="x" selected>convex</option>
                    <option value="f">flat</option>
                    <option value="k">knobbed</option>
                    <option value="s">sunken</option>
        
                </select>
            <br>
            <br>
            <label for="data2">Cap-surface</label>
                <select name="Cap-surface" id="data2">
                    <!-- fibrous=f,grooves=g,scaly=y,smooth=s -->
                    <option value="f">fibrous</option>
                    <option value="g">grooves</option>
                    <option value="y" selected>scaly</option>
                    
                    <option value="s">smooth</option>
        
                </select>
                <br>
                <br>
        
            <label for="data3">Cap-color</label>
                <select name="Cap-color" id="data3">
                    <!-- brown=n,buff=b,cinnamon=c,gray=g,green=r,pink=p,purple=u,red=e,white=w,yellow=y -->
                    <option value="n">brown</option>
                    <option value="b">buff</option>
                    <option value="c" selected>cinnamon</option>
                    <option value="g" >gray</option>
                    <option value="r" >green</option>
                    
                    <option value="p">pink</option>
                    <option value="u">purple</option>
                    <option value="e">red</option>
                    <option value="w">white</option>
                    <option value="y">yellow</option>
        
                </select>
        <br>
        <br>
        
            <label for="data4">Bruises</label>
                <select name="Bruises" id="data4">
                    <!-- bruises=t,no=f -->
                    <option value="t">bruises</option>
                    
                    <option value="f" selected>no</option>
                    
        
                </select>
                <br>
                <br>
        
            <label for="data5">Odor</label>
                <select name="Odor" id="data5">
                    <!-- almond=a,anise=l,creosote=c,fishy=y,foul=f,musty=m,none=n,pungent=p,spicy=s -->
                    <option value="a">almond</option>
                    <option value="l">anise</option>
                    <option value="c" selected>creosote</option>
                    <option value="y" >fishy</option>
                    <option value="f" >foul</option>
                    
                    <option value="m">musty</option>
                    <option value="n">none</option>
                    <option value="p">pungent</option>
                    <option value="s">spicy</option>
                    
        
                </select>
        
                <br>
                <br>
        
            <label for="data6">Gill-attachment</label>
                <select name="Gill-attachment" id="data6">
                    <!-- attached=a, descending=d, free=f, notched=n -->
                    <option value="a">attached</option>
                    <option value="d">descending</option>
                    <option value="f" selected>free</option>
                    <option value="n" >notched</option>
                    
                </select>
        
                <br>
                <br>
        
        
            <label for="data7">Gill-spacing</label>
                <select name="Gill-spacing" id="data7">
                    <!-- close=c,crowded=w,distant=d -->
                    <option value="d">distant</option>
                    <option value="w">crowded</option>
                    <option value="c" selected>close</option>
                    
                    
                </select>
        
                <br>
                <br>
        
        
            <label for="data8">Gill-size</label>
                <select name="Gill-size" id="data8">
                    <!-- broad=b,narrow=n -->
                    
                    <option value="b">broad</option>
                    <option value="n" selected>narrow</option>
                    
                    
                </select>
        
                <br>
                <br>
        
            <label for="data9">Gill-color</label>
                <select name="Gill-color" id="data9">
                    <!-- black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e,white=w,yellow=y -->
                    <option value="k">black</option>
                    <option value="n">brown</option>
                    <option value="b" selected>buff</option>
                    <option value="h">chocolate</option>
                    <option value="g" >gray</option>
                    <option value="r" >green</option>
                    <option value="o">orange</option>
                    <option value="p">pink</option>
                    <option value="u">purple</option>
                    <option value="e">red</option>
                    <option value="w">white</option>
                    <option value="y">yellow</option>
                    
                    
                </select>
        
                <br>
                <br>
        
                <label for="data10">stalk-shape   </label>
                <select name="stalk-shape  " id="data10">
                    
                    
                    <option value="t">t</option>
                    <option value="e" selected>e</option>
                    
                    
                </select>
        
                <br>
                <br>
        
                <label for="data11">stalk-root        </label>
                <select name="stalk-root        " id="data11">
                    
                    
                    <option value="b">b</option>
                    <option value="?">?</option>
                    <option value="e">e</option>
                    <option value="c">c</option>
                    <option value="r" selected>r</option>
                    
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data12">stalk-surface-above-ring        </label>
                <select name="stalk-surface-above-ring        " id="data12">
                    
                    
                    
                    <option value="s">s</option>
                    <option value="k">k</option>
                    <option value="f">f</option>
                    <option value="y" selected>y</option>
                    
                    
                </select>
        
                <br>
                <br>
        
                <label for="data13">stalk-surface-below-ring        </label>
                <select name="stalk-surface-below-ring " id="data13">
                    
                    
                    <option value="s">s</option>
                    <option value="k">k</option>
                    <option value="f">f</option>
                    <option value="y" selected>y</option>
                    
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data14">stalk-color-above-ring </label>
                <select name="stalk-color-above-ring " id="data14">
                    
                    
                    <option value="w">w</option>
                    <option value="p">p</option>
                    <option value="g">g</option>
                    <option value="n">n</option>
                    <option value="b" selected>b</option>
                    
                    
                </select>
        
                <br>
                <br>
        
                <label for="data15">stalk-color-below-ring </label>
                <select name="stalk-color-below-ring " id="data15">
                    
                    
                    <option value="w">w</option>
                    <option value="p">p</option>
                    <option value="g">g</option>
                    <option value="n">n</option>
                    <option value="b" selected>b</option>
                    
                    
                </select>
        
                <br>
                <br>
        
                <label for="data16">veil-type   </label>
                <select name="veil-type  " id="data16">
                  
                    <option value="p" selected>p</option>
                    
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data17">veil-color </label>
                <select name="veil-color " id="data17">
                    
                    
                    <option value="w" selected>w</option>
                    <option value="o">o</option>
                    <option value="y">y</option>
                    <option value="n">n</option>
                    
                    
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data18">ring-number
                </label>
                <select name="ring-number " id="data18">
                    
                    
                    <option value="t" selected>t</option>
                    <option value="o">o</option>
                    
                    <option value="n">n</option>
                    
                    
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data19">ring-type
                </label>
                <select name="ring-type " id="data19">
                    
                    
                    <option value="p" selected>p</option>
                    <option value="e">e</option>
                    <option value="l">l</option>
                    <option value="f">f</option>
                    <option value="n">n</option>
                    
                </select>
        
                <br>
                <br>
        
                <label for="data20">spore-print-color
                </label>
                <select name="spore-print-color" id="data20">
                    
                    
                    <option value="w" selected>w</option>
                    <option value="n">n</option>
                    <option value="k">k</option>
                    <option value="h">h</option>
                    <option value="r">r</option>
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data21">population
                </label>
                <select name="population" id="data21">
                    
                    
                    <option value="v" selected>v</option>
                    <option value="n">n</option>
                    <option value="y">y</option>
                    <option value="s">s</option>
                    <option value="a">a</option>
                    
                </select>
        
                <br>
                <br>
        
        
                <label for="data22">habitat
                </label>
                <select name="habitat" id="data22">
                    
                    
                    <option value="d" selected>d</option>
                    <option value="g">g</option>
                    
                    <option value="p">p</option>
                    <option value="l">l</option>
                    <option value="u">u</option>
                    
                </select>
        
                <br>
                <br>
        
                <button type="submit"> Predict</button>
                
        </form>
    </div>
    {{mushroom}}
</body>
</html>