{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="text-center">Login</h1>

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
<!-- <form action="" method="post">
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">Already signed up?
            <a class="p-2 text-dark" href="/signin">Sign in</a></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form action="" method="post">
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input name="email" class="form-control" 
      id="InputEmail" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="exampleCheck1">Already signed up?
            <a class="p-2 text-dark" href="/signin">Sign in</a></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}